.App {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: #aaa;
}

.app__container {box-sizing: border-box;
  height: 700px;
  width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #eee;
  border-radius: 8px;
  box-shadow: 0px 0px 12px 4px #888;
  padding: 16px;
}

.app__todoContainer {
  flex: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}